body{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color:rgb(219, 168, 245) ; 
   color: cornflowerblue;
}
h1{
    color:deepskyblue;
}
a{
    color: dodgerblue;
    text-decoration: none;
}
a:hover{
color: lightblue;
}
ul li::before {

    content: "🚀 ";
    
    }
p::first-letter {

        font-size: 200%;
        
        color: #574fe4;
        
        }